---
import Layout from "../layouts/Layout.astro";
import TextArea from "../components/TextArea";
import HomeContentContainer from "../components/HomeContentContainer";
---

<Layout title="Como estás">
  <main class="w-full h-screen flex flex-col justify-center items-center gap-4">
    <HomeContentContainer client:idle />
  </main>
</Layout>
